---
layout: filter
permalink: /illustrator/
title: illustrator
---


{% for designer in site.data.designers %}
  {% if designer.category == "illustrator" %}
    <!-- designer list -->
    <li class="design-wrap">
      <a href="https://twitter.com/{{ designer.twitter }}">
        <img class="rounded" src="https://avatars.io/twitter/{{designer.twitter}}" alt="">
        <p>{{ designer.designer }}</p>
      </a>
      <h5>{{designer.twitter}} • {{designer.school}}</h5>
    </li>
    <!-- end of designer list -->
  {% endif %}
{% endfor %}
